UPDATE produk SET stok = 150 WHERE id_produk = 2; UPDATE rekaman_stoks SET stok_awal = 75, stok_sisa = 70 WHERE id_produk = 2 AND id_rekaman_stok = (SELECT * FROM (SELECT MAX(id_rekaman_stok) FROM rekaman_stoks WHERE id_produk = 2) AS subquery);
